---
date: git Last Modified
---
<!DOCTYPE HTML>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">

  <title>{{title}}</title>

  <link href="/css/style.css" rel="stylesheet">

  {% if glslCanvas %}
  <script type="text/javascript" src="https://rawgit.com/patriciogonzalezvivo/glslCanvas/master/dist/GlslCanvas.js"></script>
  {% endif %}

</head>

<body class="light-mode">

{{content}}

<footer>
<small>Page last modified: {{page.date | date: "%B %e, %Y"}}</small>
</footer>

<script type="text/javascript" src="/js/theme-toggle.js"></script>

</body>

</html>