---
date: git Last Modified
---
<!DOCTYPE HTML>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">

  <title>{{title}}</title>

  <link href="/css/style.css" rel="stylesheet">

  {% if fullscreen %}
  <style type="text/css">
    body {
      margin:0;
    }
    main {
      line-height:0;
    }
  </style>
  {% endif %}

  {% if runicon %}
  <style type="text/css">
    @font-face {
      font-family:'RuniconCypher';
      src:url('https://s3.us-east-1.amazonaws.com/palomakop.tv/fonts/runicon_cypher.woff2') format('woff2'), url('https://s3.us-east-1.amazonaws.com/palomakop.tv/fonts/runicon_cypher.woff') format('woff');
      font-display:block;
    }
  </style>
  {% endif %}

  {% if glslCanvas %}
  <script type="text/javascript" src="https://rawgit.com/patriciogonzalezvivo/glslCanvas/master/dist/GlslCanvas.js"></script>
  {% endif %}

  {% if threeJs %}
  <script type="importmap">
    {
      "imports": {
        "three": "/js/three.module.js",
        "three/addons/": "/js/jsm/"
      }
    }
  </script>
  <style type="text/css">
    body {
      background-color:#001122;
    }
  </style>
  {% endif %}

</head>

<body>

{{content}}

{% unless fullscreen %}
<footer>
<small>Page last modified: {{page.date | date: "%B %e, %Y"}}</small>
</footer>
{% endunless %}

<script type="text/javascript" src="/js/theme-toggle.js"></script>

</body>

</html>