@font-face {
  font-family:'Roboto Mono';
  src:url('https://s3.amazonaws.com/palomakop.tv/fonts/robotoMono-variable-latin.woff2') format('woff2');
  font-weight:1 999;
  font-display:swap;
}

#on-switch, #off-switch {
  display:none;
}

/* LIGHT MODE MEDIA RULE */

@media (prefers-color-scheme: light) {
  :root {
    --bg-color:#ffffff;
    --fg-color:#000000;
    --link-color:blue;
    --visited-link-color:purple;
  }

  .display-light {
    display:inline;
  }
  .display-dark {
    display:none;
  }
}

/* DARK MODE MEDIA RULE */

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color:#212121;
    --fg-color:#ffffff;
    --link-color:rgb(124, 124, 255);
    --visited-link-color:rgb(200, 126, 200);
  }
  .display-light {
    display:none;
  }
  .display-dark {
    display:inline;
  }
}

/* LIGHT MODE CLASS RULES */

.light-mode {
  --bg-color:#ffffff;
  --fg-color:#000000;
  --link-color:blue;
  --visited-link-color:purple;
}

.light-mode .display-light {
  display:inline;
}
.light-mode .display-dark {
  display:none;
}

/* DARK MODE CLASS RULES */

.dark-mode {
  --bg-color:#212121;
  --fg-color:#ffffff;
  --link-color:rgb(124, 124, 255);
  --visited-link-color:rgb(200, 126, 200);
}

.dark-mode .display-light {
  display:none;
}
.dark-mode .display-dark {
  display:inline;
}

/* GENERAL RULES */

html {
  height:100%;
  padding:env(safe-area-inset); /* for iphone notch */
  /* Prevent font scaling in landscape while allowing user zoom */
  text-size-adjust:var(--text-size-adjust);
  -webkit-text-size-adjust:var(--text-size-adjust);
  -moz-text-size-adjust:var(--text-size-adjust);
  scroll-behavior:smooth;
}

body {
  font-family:'Roboto Mono', Andale Mono, Consolas, monospace;
  line-height:1.6;
  overflow-wrap:break-word;
  word-wrap:break-word;
  color:var(--fg-color);
  background-color:var(--bg-color);
}

div {
  color:var(--fg-color);
}

p {
  max-width:70ch;
}

footer {
  display:block;
  font-style:italic;
  margin:2rem 0;
}

a {
  outline:1.5px solid;
  outline-offset:-1.5px;
  border-radius:0.4em;
  padding:0.1em 0.4ch;
  text-decoration:none;
  color:var(--link-color);
  white-space:nowrap;
}

a:visited {
  color:var(--visited-link-color);
}

a:hover {
  color:#ffffff;
  background:linear-gradient(to right, red, blue, red, blue, red, blue, red, blue, red, blue, red, blue, red, blue, red, blue);
  animation: gradient 5s linear infinite;
  outline:none;
  background-size:500% 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.scene {
  min-height:calc(100vh - 5rem);
}

/* FADING TEXT ANIMATION */

.fade-text-a, .fade-text-b {
  position:absolute;
  display:inline;
}

.fade-text-container {
  display:inline;
  opacity:0.3;
}

.fade-text-a {
  animation: fadeA 10s ease infinite;
}

.fade-text-b {
  animation: fadeB 10s ease infinite;
}

@keyframes fadeA {
  0% {
    opacity:1;
  }
  40% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeB {
  0% {
    opacity:0;
  }
  40% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  90% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.word {
  display:inline-block;
  width:10ch;
}

a[href^="http"] {
  padding-right:0.5ch;
}

a[href^="http"]:after {
  content:'➚';
  margin-left:0.3ch;
}

#atrium {
  margin-top:3em;
}

details {
  margin-bottom:2em;
}

.overlay {
  position:fixed;
  top:0;
  left:1.5ch;
  z-index:1000;
}