@font-face {
  font-family:'Roboto Mono';
  src:url('https://s3.amazonaws.com/palomakop.tv/fonts/robotoMono-variable-latin.woff2') format('woff2');
  font-weight:1 999;
  font-display:swap;
}

html {
  height:100%;
  padding:env(safe-area-inset); /* for iphone notch */
  /* Prevent font scaling in landscape while allowing user zoom */
  text-size-adjust:var(--text-size-adjust);
  -webkit-text-size-adjust:var(--text-size-adjust);
  -moz-text-size-adjust:var(--text-size-adjust);
  scroll-behavior:smooth;
}

body {
  font-family:'Roboto Mono', Andale Mono, Consolas, monospace;
  line-height:1.6;
  overflow-wrap:break-word;
  word-wrap:break-word;
}

p {
  max-width:70ch;
}

footer {
  margin-top:4em;
}

footer small {
  font-style:italic;
}