---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

<p>a crumbling city * worn down by millions of passing hours</p>

<a href="/our-city">
{% include "our-city/left_arrow.svg" %}
</a>

<a href="/our-city/2">
{% include "our-city/right_arrow.svg" %}
</a>