---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

<p>so upon your arrival back * say to us</p>

<a href="/our-city/9">
{% include "our-city/left_arrow.svg" %}
</a>

<a href="/our-city/11">
{% include "our-city/right_arrow.svg" %}
</a>