---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

{% include "our-city/11.svg" %}

<p>what visions of this past * our past * still inhabit your mind *</p>

<a href="/our-city/10">
{% include "our-city/left_arrow.svg" %}
</a>

<a href="/our-city/12">
{% include "our-city/right_arrow.svg" %}
</a>