---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

{% include "our-city/12.svg" %}

<p>can our old city know this world again *</p>

<a href="/our-city/11">
{% include "our-city/left_arrow.svg" %}
</a>

<a href="/our-city">
{% include "our-city/curved_arrow.svg" %}
</a>