---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

{% include "our-city/2.svg" %}

<p>our words * just a scratch in sandy ground</p>

<a href="/our-city/1">
{% include "our-city/left_arrow.svg" %}
</a>

<a href="/our-city/3">
{% include "our-city/right_arrow.svg" %}
</a>