---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

{% include "our-city/3.svg" %}

<p>our inhabitants * just visiting for a snap in human minds of today</p>

<a href="/our-city/2">
{% include "our-city/left_arrow.svg" %}
</a>

<a href="/our-city/4">
{% include "our-city/right_arrow.svg" %}
</a>