---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

{% include "our-city/4.svg" %}

<p>what will occur if you look past what is in front of you daily *</p>

<a href="/our-city/3">
{% include "our-city/left_arrow.svg" %}
</a>

<a href="/our-city/5">
{% include "our-city/right_arrow.svg" %}
</a>