---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

{% include "our-city/5.svg" %}

<p>can this string of communication go both ways *</p>

<a href="/our-city/4">
{% include "our-city/left_arrow.svg" %}
</a>

<a href="/our-city/6">
{% include "our-city/right_arrow.svg" %}
</a>