---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

{% include "our-city/6.svg" %}

<p>can you visit for a snap in our minds * minds of aritana occ</p>

<a href="/our-city/5">
{% include "our-city/left_arrow.svg" %}
</a>

<a href="/our-city/7">
{% include "our-city/right_arrow.svg" %}
</a>