---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

<p>go into our platonic fractal forms * and try an unusual way to pass your days</p>

<a href="/our-city/6">
{% include "our-city/left_arrow.svg" %}
</a>

<a href="/our-city/8">
{% include "our-city/right_arrow.svg" %}
</a>