---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

<p>mayhaps a joyous day * but will it stay in your mind upon arrival back to your origin</p>

<a href="/our-city/7">
{% include "our-city/left_arrow.svg" %}
</a>

<a href="/our-city/9">
{% include "our-city/right_arrow.svg" %}
</a>