---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

<p>i do not know what a human mind can hold across such a trip * such a boundary</p>

<a href="/our-city/8">
{% include "our-city/left_arrow.svg" %}
</a>

<a href="/our-city/10">
{% include "our-city/right_arrow.svg" %}
</a>