---
layout: our-city/zineTemplate
title: ꏿꇤ𐪎 ꀯ⦰Ⲷ𐔟
---

<h1>our city</h1>

<p>by inhabitants of aritana occ * translation by paloma</p>

<a href="/our-city/1">
{% include "our-city/right_arrow.svg" %}
</a>

<a href="/#hallway">
{% include "labyrinth.svg" %}
</a>