---
title: p5
description: things made with p5.js
layout: default
---

<a href="/#hallway">&lt; return to the lab</a>

<h1>p5.js sketches</h1>

<h2>bubbles</h2>

<p>made in collaboration with colleen</p>

<p>note: if you are on ios, <a href="/p5/bubbles">open fullscreen</a> for touch events to work</p>

<iframe src="/p5/bubbles" width="400" height="400" style="max-width:100%;aspect-ratio:1;" frameBorder="0"></iframe>

<details>
<summary>code</summary>
<code>
<pre>
{% render './src/p5-sketches/bubbles.js' %}
</pre>
</code>
</details>

<a href="/#hallway">&lt; return to the lab</a>
